<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Home</title>
  <link rel="stylesheet" href="/add-home.css">
</head>

<body>
  <header>
    <h2>Register your Home here : </h2>
  </header>
  <main>
    <form action="/host/add-home" method="POST">
      <label for="housename">Enter your House Name : </label>
      <input type="text" name="housename" id="housename" autocomplete="off" required />
      <br><button type="submit">Submit</button>
    </form>
  </main>
</body>

</html>