<%- include('./partials/head') %>

<h1 class="text-[8rem] font-bold text-[#e51414] leading-none select-none">
  404
</h1>

<h2 class="text-2xl text-white tracking-tight">Page not found</h2>

<p class="m-3 text-gray-500 text-center text-sm max-w-xs">
  The page you're looking for doesn't exist or has been moved.
</p>

</div>
</body>

</html>