<%- include('../partials/head') %>

<header class="mb-8 text-center">
  <h2 class="text-4xl font-semibold text-white tracking-tight">
    Welcome to <span class="text-[#e51414]">AirB<span class="text-white">n</span>B</span> Host Homes
  </h2>
</header>

<main class="w-full flex flex-col gap-6 items-center mb-[10vh]">

  <div class="flex flex-wrap gap-5 justify-center w-[80vw]">
    <% homes.forEach(home => { %>
    <%- include('../partials/host-card', { home }) %>
    <% }) %>
  </div>

</main>

</div>
</body>

</html>