<%- include('../partials/head') %>

<header class="mb-8 text-center">
  <h2 class="text-3xl font-semibold text-white tracking-tight">
    Find your <span class="text-[#e51414]">Bookings</span>
  </h2>
</header>

</div>
</body>

</html>